<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <kentor.authServices
    entityId="http://register.dev.geonorge.no"
    returnUrl="http://register.dev.geonorge.no/kartografi"
    xdt:Transform="Replace">
    <serviceCertificates>
      <add storeName="TrustedPublisher" storeLocation="LocalMachine" findValue="7115DBA2C2E4A751C352B5569418124498FB4F78" x509FindType="FindByThumbprint" />
    </serviceCertificates>
  </kentor.authServices>
  <system.webServer>
    <modules xdt:Transform="Replace">
    </modules>
  </system.webServer>
  <system.identityModel xdt:Transform="RemoveAll">
  </system.identityModel>
  <system.identityModel.services xdt:Transform="RemoveAll">
  </system.identityModel.services>
</configuration>