<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <customErrors mode="On" defaultRedirect="~/Error/" xdt:Transform="Replace">
      <error statusCode="404" redirect="~/Error/NotFound/" />
    </customErrors>
  </system.web>

  <log4net debug="true">
    <root>
      <priority value="INFO" xdt:Transform="Replace" />
    </root>
  </log4net>

  <kentor.authServices
   entityId="https://register.test.geonorge.no"
   returnUrl="https://register.test.geonorge.no/symbol"
   xdt:Transform="Replace">
    <serviceCertificates>
      <add storeName="TrustedPublisher" storeLocation="LocalMachine" findValue="7115DBA2C2E4A751C352B5569418124498FB4F78" x509FindType="FindByThumbprint" />
    </serviceCertificates>
  </kentor.authServices>
  <system.webServer>
    <modules xdt:Transform="Replace">
    </modules>
  </system.webServer>
  <system.identityModel xdt:Transform="RemoveAll">
  </system.identityModel>
  <system.identityModel.services xdt:Transform="RemoveAll">
  </system.identityModel.services>
  
</configuration>