@model IEnumerable<Geonorge.Symbol.Models.Symbol>
@foreach (var item in Model)
{
    <div class="list-item">
        <div class="row result-row metadata">

            <div class="col-sm-4">
                @Html.ActionLink(item.Name ?? "->", "Details", new { SystemId = item.SystemId })
            </div>
            <div class="col-sm-3">
                @Html.DisplayFor(modelItem => item.Owner)
            </div>
            <div class="col-sm-3">
                @Html.DisplayFor(modelItem => item.Theme)
            </div>
            <div class="col-sm-1">
                <a href="~/files/details/@item.SystemId"><img src="@item.ThumbnailUrl()" /></a>
            </div>
        </div>
    </div>
}
<div class="last"><a href="~/Files/SymbolList?page=@(ViewBag.Page)&sortOrder=@(ViewBag.SortOrder)&text=@ViewBag.text">Laster...</a></div>

