@model List<Geonorge.Symbol.Models.SymbolFile>

@section breadcrumb {
    <li><a href="@VirtualPathUtility.ToAbsolute("~/files/index")">Symbol</a></li>
    <li>Slett</li>
}
@{
    ViewBag.Title = "Slett symbol-variant";
}

<section class="heading">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="shortcut">
                Slett symbolvariant
            </h1>
        </div>
        <div class="col-sm-12">
            <span class="separator-lg"></span>
        </div>
    </div>
</section>

<h3>Er du sikker på at du vil slette @Model[0].SymbolFileVariant.Name?</h3>
<div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input class="hidden-print show-loading-animation pull-right btn btn-default" type="submit" value="Slett"  />
            <a class="hidden-print show-loading-animation pull-left" data-loading-message="Henter innhold" href="@VirtualPathUtility.ToAbsolute("~/files/details?systemid=")@Model[0].Symbol.SystemId">Tilbake</a>
        </div>
    }
</div>
